:root {
    --bs-primary-50: #B5FFE1;
    --bs-primary-100: #93E5AB;
    --bs-primary-150: #65B891;
    --bs-primary-200: #4E878C;
    --bs-primary-250: #00241B;
    --bs-grayscale-50: #586763;
    --bs-grayscale-100: #C5E2D5;
    --font-family-sans-serif: "Inter", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: "Inter", monospace;
}

body {
    font-family: var(--font-family-sans-serif);
}